<%- include("partials/head", {title: "HammerTime", css: ['index.css','navbar.css']})%>
<%- include("partials/navbar") %>

<div align="center">
  <div class = "flex-down no-top" style="padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;margin-bottom:10px">
    <div class = "heading">My Bids:</div>
    <div class = "flex-across">
    <% listings.forEach(function(listing){ %>
      <div class="listings-container card grow">
        <img class = "card card-holder" src="https://i.imgur.com/kYoml8L.jpg">
        <div class="price"><%= "$"+listing.bid %></div>
      </div>
    <% }) %>
    </div>
  </div>

  <div class = "flex-down no-top" style="padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;margin-bottom:10px">
    <div class = "heading">All Listings:</div>
    <div class = "flex-across">
    <% listings.forEach(function(listing){ %>
      <div class="listings-container card grow">
        <img class = "card card-holder" src="https://i.imgur.com/kYoml8L.jpg">
        <div class="price"><%= "$"+listing.bid %></div>
      </div>
    <% }) %>
    </div>
  </div>

</div>


<%- include("partials/footer") %>

</body>
</html>
