<%- include("partials/head", {title: "HammerTime"})%>
<%- include("partials/navbar") %>

<div align="center">
  <div class = "flex-down" style="padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;margin-bottom:10px">
    <h2 style="color:black;text-align:left;">My Bids:</h2>
    <div class = "flex-across">
    <% listings.forEach(function(listing){ %>
      <div class="container card grow">
        <img class = "card" src="https://i.imgur.com/kYoml8L.jpg" style="border: 2px solid #555555;">
        <div class="top-left" style="color: #555555;"><%= listing.title %></div>
        <div class="top-right" style="padding:1px;color:#555555;border-radius:10px;background-color:orange;"><%= "$"+listing.bid %></div>
      </div>
    <% }) %>
    </div>
  </div>

  <div style = "display:flex;flex-wrap:nowrap">
    <div class = "flex-down" style="margin-right:10px;padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;">
      <h2 style="color:black;text-align:left;">My Listings:</h2>
      <div class = "flex-across">
      <% listings.forEach(function(listing){ %>
        <div class="container card grow">
          <img class = "card" src="https://i.imgur.com/kYoml8L.jpg" style="border: 2px solid #555555;">
          <div class="top-left" style="color: #555555;"><%= listing.title %></div>
          <div class="top-right" style="padding:1px;color:#555555;border-radius:10px;background-color:orange;"><%= "$"+listing.bid %></div>
        </div>
      <% }) %>
      <div class="container card grow">
        <img class = "card" src="https://www.chronicle.com/blogs/linguafranca/files/2016/06/ellipses-main.jpg" style="border: 2px solid #555555;">
        <div class="top-left" style="color: #555555;">asdf</div>
        <div class="top-right" style="padding:1px;color:#555555;border-radius:10px;background-color:orange;">asdf</div>
      </div>
      </div>
    </div>
    <div class = "flex-down" style="max-width:50%;padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;">
      <h2 style="color:black;text-align:left;">Favorites:</h2>
      <div class = "flex-across">
      <% listings.forEach(function(listing){ %>
        <div class="container card grow">
          <img class = "card" src="https://i.imgur.com/kYoml8L.jpg" style="border: 2px solid #555555;">
          <div class="top-left" style="color: #555555;"><%= listing.title %></div>
          <div class="top-right" style="padding:1px;color:#555555;border-radius:10px;background-color:orange;"><%= "$"+listing.bid %></div>
        </div>
      <% }) %>
      <div class="container card grow">
        <img class = "card" src="https://www.chronicle.com/blogs/linguafranca/files/2016/06/ellipses-main.jpg" style="border: 2px solid #555555;">
        <div class="top-left" style="color: #555555;">nav</div>
        <div class="top-right" style="padding:1px;color:#555555;border-radius:10px;background-color:orange;">asdf</div>
      </div>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer") %>

</body>
</html>
