<%- include("partials/head", {title: "HammerTime", css: ['index.css','searchbar.css']})%>
<%- include("partials/navbar") %>

<!-- <h2>Search Here!</h2>
<div class="container">
	<form action="/videos">
		<div class="row">
			<div class="col-9">
				<input style="width: 100%" name="query" type="search" placeholder="Search for a video by title. You can filter by genre with the drop down on the right">
			</div>
			<div class="col-2">
				<select class="form-control" id="category" name="category">
					<option value="">Filter</option>
					<% var categories = ['Apparel', 'Beauty', 'Books', 'Camera', 'Cell Phones', 'Collectables', 'Jewelry', 'Fine Art', 'Handmade', 'Health', 'Music', 'Music Instruments', 'Office', 'Outdoors', 'Software', 'Video Games', 'Board Games', 'Toys', 'Sports', 'Tools', 'Videos'];
					categories.sort();
					categories.forEach((category) => { %>
						<option value="<%= category %>"><%= category %></option>
					<% }); %>
				</select>
			</div>
			<div class="col-1">
				<input type="submit" class="btn btn-success" value="search">
			</div>
		</div>
	</form>
</div> -->
<div id="data" class="hidden"
	data-page="<%= page %>"
	data-listings="<%= JSON.stringify(listings) %>">
</div>

<div align="center">
  <img class="logo" src="./images/logo.png"></img>
</div>

<%- include("partials/search") %>

<div align="center">
  <div class = "flex-down no-top" style="padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;margin-bottom:10px">
    <div id="card-container" class = "flex-across"></div>
		<div class="flex-across between">
				<button id="previous" class="btn btn-primary">
					<i class="fa fa-arrow-circle-left" style="font-size:36px"></i>
				</button>
				<button id="next" class="btn btn-primary">
					<i class="fa fa-arrow-circle-right" style="font-size:36px"></i>
				</button>
		</div>
	</div>
</div>

<%- include("partials/footer") %>
<script src="/js/navigation.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/notifications.js"></script>

</body>
</html>
