<%- include("../partials/head", {title: "HammerTime", css: ["show.css"]})%>
<%- include("../partials/navbar") %>


<div id="data" class="hidden"
data-listing="<%= JSON.stringify(listing) %>">
</div>

<div class="row">
	<div id="gallery" class="col col-5">
		<img id="picture" class="display-img" src="/images/db/<%= listing.pictures[0] %>" />
		<div id="gallery-nav" class="vspace">
			<button id="previous" class="btn btn-primary">
				<i class="fa fa-arrow-circle-left" style="font-size:18px"></i>
			</button>
			<button id="photo-delete" class="btn btn-danger">
				Remove Photo
			</button>
			<button id="next" class="btn btn-primary">
				<i class="fa fa-arrow-circle-right" style="font-size:18px"></i>
			</button>
		</div>
		<div>
			<form id="photo-form" action="javascript:void(0);" enctype="multipart/form-data">
				<div class="vspace"style="position:relative">
					<button id="cover-button" class="btn btn-primary" style="position:absolute; width:114px;">Choose Files</button>
					<input class = "form-control" type='file' id='added-photos' name='added-photos' multiple="multiple">
				</div>
				<input class="btn btn-primary vspace" type='submit' value="Upload Photos"></input>
			</form>
		</div>
		<div>
			<p>Changes to photos are saved immediately</p>
		</div>
	</div>
	<div class="col col-7 parent border-left pad">
		<form id='text-edits-form' action='/listings/<%=listing._id%>?_method=PUT' method="POST">
			<div class="row">
				<div class="flex-across vspace">
					<div class="formcol"><strong> Title: </strong></div>
					<input class="form-control not-too-wide"type='text' name='title' value='<%= listing.title %>' >
				</div>
			</div>
			<div class="row">
				<div class="flex-across vspace">
					<div class="formcol"><strong>Category:</strong></div>
					<select class="form-control not-too-wide" id="category" name="category">
						<option></option>
						<% var categories = ['Apparel', 'Beauty', 'Books', 'Camera', 'Cell Phones', 'Collectables', 'Jewelry', 'Fine Art', 'Handmade', 'Health', 'Music', 'Music Instruments', 'Office', 'Outdoors', 'Software', 'Video Games', 'Board Games', 'Toys', 'Sports', 'Tools', 'Videos'];
						categories.sort();
						categories.forEach((category) => {
							var selected = "";
							if(category == listing.category) {
								selected = "selected";
							} %>
							<option value="<%= category %>" <%= selected %>><%= category %></option>
						<% }) %>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="flex-across vspace">
					<div class="formcol"><strong>Condition:</strong></div>
					<input type="hidden" id = "shipped" name="shipped" value=<%= listing.shipped %>> </input>
					<select class="form-control not-too-wide" id="condition" name="condition">
						<option></option>
						<% var conditions = ['New', 'Like New', 'Used', 'Scrap'];
						conditions.sort();
						conditions.forEach((condition) => {
							var selected = "";
							if(condition == listing.condition) {
								selected = "selected";
							} %>
							<option value="<%= condition %>" <%= selected %>><%= condition %></option>
						<% }) %>
				</select>
				</div>
			</div>

			<div class="row">
				<div> <strong> Description: </strong></div>
				<textarea class="form-control" name="description"><%= listing.description %></textarea>
			</div>
		</form>
		<form id='biddingForm' action="/listings/<%= listing._id %>">
			<div class='row timer-row'>
				<div class="flex-across">
					<button id='save-edits' class='btn btn-primary hspace'>Save Edits</button>
					<button id='cancel-edits' class='btn btn-light'>Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>

<%- include("partials/footer") %>
<script>
	let listID = <%- JSON.stringify(listing._id) %>;
</script>
<!-- <script src="/js/countdown.js"></script> -->
<script src="/js/gallery.js"></script>
<script src="/js/edit.js"></script>
</body>
</html>
