<%- include("partials/head", {title: "HammerTime", files: ['']})%>
<%- include("partials/navbar") %>


<h1>New </h1>

<form action="/listings" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="title">Title: </label>
		<input type="text" class="form-control" name="title" />

		<div>
			<label for="category">Category: </label>
			<select class="form-control" id="category" name="category">
				<option></option>
				<% var categories = ['Apparel', 'Beauty', 'Books', 'Camera', 'Cell Phones', 'Collectables', 'Jewelry', 'Fine Art', 'Handmade', 'Health', 'Music', 'Music Instruments', 'Office', 'Outdoors', 'Software', 'Video Games', 'Board Games', 'Toys', 'Sports', 'Tools', 'Videos'];
				categories.sort();
				categories.forEach((category) => { %>
					<option value="<%= category %>"><%= category %></option>
				<% }) %>
			</select>
		</div>

		<div>
			<label for="condition">Condition: </label>
			<select class="form-control" id="condition" name="condition">
				<option></option>
				<option value="New">New</option>
				<option value="Like New">Like New</option>
				<option value="Used">Used</option>
				<option value="Scrap">Scrap</option>
			</select>
			<label for="description">Description</label>
			<textarea class="form-control" name="description" ></textarea>
		</div>

		<label for="pictures">Upload Pictures: </label>
		<input type="file" class="form-control-file" name="pictures" multiple="multiple" />

		<div>
			<label for="bidStart">Starting Bid: </label>
			<input type="number" class="form-control" name="bidStart" />

			<label for="endTime">End Date and Time</label>
			<input type="datetime-local" class="form-control" id="endTime" name="endTime"/>
		</div>
		<!--
		<div>
			<label for="shippingCarrier">Shipping Carrier: </label>
			<select class="form-control" id="shippingCarrier">
				<option value="usps">USPS</option>
				<option value="ups">UPS</option>
				<option value="fedex">Fedex</option>
			</select>
			<label for="shippingSpeed">Shipping Type: </label>
			<select class="form-control" id="shippingCarrier">
				<option value="night">Overnight</option>
				<option value="air">2-3 Day Air</option>
				<option value="ground">Ground</option>
			</select>
			<label for="shippingFee">Shipping Fee: </label>
			<input type="number" class="form-control" id="shippingFee" name="shippingFee" />
		</div>
		-->
		<div>
			<input type="submit" value="upload" name="submit" />
		</div>
	</div>
</form>

<%- include("partials/footer") %>
<script src=""></script>

</body>
</html>
