<%- include("partials/head", {title: "HammerTime", css: ['index.css','navbar.css','searchbar.css']})%>
<%- include("partials/navbar") %>

<h2>Search Here!</h2>
<div class="container">
	<form action="/videos">
		<div class="row">
			<div class="col-9">
				<input style="width: 100%" name="query" type="search" placeholder="Search for a video by title. You can filter by genre with the drop down on the right">
			</div>
			<div class="col-2">
				<select class="form-control" id="condition" name="category">
					<option value="">Filter</option>
					<% var categories = ['Apparel', 'Beauty', 'Books', 'Camera', 'Cell Phones', 'Collectables', 'Jewelry', 'Fine Art', 'Handmade', 'Health', 'Music', 'Music Instruments', 'Office', 'Outdoors', 'Software', 'Video Games', 'Board Games', 'Toys', 'Sports', 'Tools', 'Videos']; 
					categories.sort();
					categories.forEach((category) => { %>
						<option value="<%= category %>"><%= category %></option>
					<% }); %>
				</select>
			</div>
			<div class="col-1">
				<input type="submit" class="btn btn-success" value="search">
			</div>
		</div>
	</form>
</div>

<div align="center">
  <img class="logo" src="./images/logo.png"></img>
</div>

<%- include("partials/search") %>

<div align="center">
  <div class = "flex-down no-top" style="padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;margin-bottom:10px">
    <div class = "heading">My Bids:</div>
    <div class = "flex-across">
    <% listings.forEach(function(listing){ %>
      <div class="card grow">
        <a href="/listings/<%= listing._id %>"><span style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 10;"></span></a>
        <img class = "card-image" src="./images/db/<%= listing.pictures[0] %>">
        <div class="block-ellipsis"><%= listing.title %></div>
        <div class="price"><%= "$"+listing.bid %></div>
      </div>
    <% }) %>
    </div>
</div>

  <div class = "flex-down no-top" style="padding:10px; background-color:#cccccc; border:2px solid black; border-radius:25px;margin-bottom:10px">
    <div class = "heading">All Listings:</div>
    <div class = "flex-across">
    <% listings.forEach(function(listing){ %>
      <div class="listings-container card grow">
        <a href="/listings/<%= listing._id %>"><span style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 10;"></span></a>
        <img class = "card card-holder" src="./images/db/<%= listing.pictures[0] %>">
        <div class="price"><strong><%= "$"+listing.bid %></strong></div>
      </div>
    <% }) %>
    </div>
  </div>

</div>


<%- include("partials/footer") %>

</body>
</html>
