<%- include("../partials/head", {title: "HammerTime", css: ["show.css"]})%>
<%- include("../partials/navbar") %>


<div class="container-fluid">
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col col-6">
			<% if(typeof(listing.pictures) !== undefined) { 
				listing.pictures.forEach((picture) => { %>
				<img src="/images/db/<%= picture %>" />
			<% })}; %>	
		</div>
		<div class="col col-6">
			<div class="row">
				<h1><%= listing.title %></h1>
			</div>
			<div class="row">
				<p><%= listing.bid %></p>
			</div>
			<div class="row">
				<p><%= listing.description %></p>
			</div>
			<% if(user) { %>
				<a href='/users/login'><p>Sign in to start HammerTime!</p></a>
			<% } else if(user && owned){ %>
				
			<% } %>
			<% if(owned) { %>
				<div class="row">
					<a href="/listings/<%= listing._id %>/edit"><button type="submit" class="btn btn-warning" name="action" value="edit">Edit</button></a>
					<form action="/vlistingsideos/<%= listing._id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button></form>
				</div>
			<% } %>
		</div>
	</div>
</div>


<%- include("partials/footer") %>

</body>
</html>