<%- include("../partials/head", {title: "HammerTime", css: ["show.css"]})%>
<%- include("../partials/navbar") %>


<div id="data" class="hidden"
	data-listing="<%= JSON.stringify(listing) %>">
</div>

<div class="row">
	<div id="gallery" class="col col-5">
			<img id="picture" class="display-img" src="/images/db/<%= listing.pictures[0] %>" />
			<div id="gallery-nav">
				<button id="previous" class="btn btn-primary">
					<i class="fa fa-arrow-circle-left" style="font-size:18px"></i>
				</button>
				<button id="next" class="btn btn-primary">
					<i class="fa fa-arrow-circle-right" style="font-size:18px"></i>
				</button>
			</div>
	</div>
	<div class="col col-7 parent border-left pad">
		<div class="row">
			<div class="title"><%= listing.title %></div>
		</div>
		<div class="row border-bottom">
			<div>Condition: <strong><%= listing.condition %></strong></div>
		</div>
		<div class="desc row">
			<p><%= listing.description %></p>
		</div>
		<%if(owned){%>
			<div class="row">
				<button class="btn btn-primary hspace"> edit </button>
				<button class="btn btn-primary"> delete </button>
			</div>
		<%}%>
		<div class="row timer-row">
			<div class="flex-across">
				<div id="border" class="bid-timer">
					<div id="countdown" class="big hspace"></div>
					<div id="money" class="big">$</div>
					<input id="bid" class="form-control big bid-input"></input>
				</div>
				<img id="pic" class="picture-button grow" src="/images/bid.png"></img>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>
<script src="/js/countdown.js"></script>
<script src="/js/gallery.js"></script>

</body>
</html>
