<%- include("../partials/head", {title: "HammerTime", css: ["show.css"]})%>
<%- include("../partials/navbar") %>


<div class="container-fluid">
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col col-6">
			<% if(typeof(listing.pictures) !== undefined) { 
				listing.pictures.forEach((picture) => { %>
				<img src="/images/db/<%= picture %>" />
			<% })}; %>	
		</div>
		<div class="col col-6">
			<div class="row">
				<h1><%= listing.title %></h1>
			</div>
			<div class="row">
				<p><%= listing.bid %></p>
			</div>
			<div class="row">
				<p><%= listing.description %></p>
			</div>
			<h4>Current Bid: $<span id='currentBid'><%= currentBid %></span></h4>
			<% if(!user) { %>
				<a href='/users/login'><p>Sign in to start HammerTime!</p></a>
			<% } else if(user && !owned){ %>
				<form id='biddingForm' action="javascript:void(0);">
					<div class='row'>
						<label for="newBid">Your bid: </label>
						<input type='number' class='col' id='newBid' name='newBid' min=0 />
						<button id='submitBid' type='submit'><i class="fa fa-gavel" ></i></button>
					</div>
				</form>
			<% } %>
			<div class="row">
				<button id='test' class='btn'>Testing - Refresh</button>
			</div>
			<% if(owned) { %>
				<div class="row">
					<a href="/listings/<%= listing._id %>/edit"><button type="submit" class="btn btn-warning" name="action" value="edit">Edit</button></a>
					<form action="/listings/<%= listing._id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button></form>
				</div>
			<% } %>
		</div>
	</div>
</div>


<%- include("partials/footer") %>
<script>
	let listID = <%- JSON.stringify(listing._id) %>;
	console.log(listID);
</script>
<script src="/js/show.js"></script>

</body>
</html>