<%- include("../partials/head", {title: "HammerTime", css: ["show.css"]})%>
<%- include("../partials/navbar") %>


<div id="data" class="hidden"
data-listing="<%= JSON.stringify(listing) %>">
</div>

<div class="row">
	<div id="gallery" class="col col-5">
		<img id="picture" class="display-img" src="/images/db/<%= listing.pictures[0] %>" />
		<div id="gallery-nav">
			<button id="previous" class="btn btn-primary">
				<i class="fa fa-arrow-circle-left" style="font-size:18px"></i>
			</button>
			<button id="next" class="btn btn-primary">
				<i class="fa fa-arrow-circle-right" style="font-size:18px"></i>
			</button>
		</div>
	</div>
	<div class="col col-7 parent border-left pad">
		<div class="row">
			<div class="title"><%= listing.title %></div>
		</div>
		<div class="row">
			<div>Category: <strong><%= listing.category %></strong></div>
		</div>
		<div class="row">
			<div>Condition: <strong><%= listing.condition %></strong></div>
		</div>

		<div class = "row border-bottom">
			<div>
				Current Bid: <strong>$</strong><strong id='current-bid'><%= currentBid %></strong>
			</div>
		</div>

		<div class="desc row">
			<p><%= listing.description %></p>
		</div>
		<% if(!user) { %>
			<a href='/users/login'><p>Sign in to start HammerTime!</p></a>
		<% } %>
			<form id='biddingForm' action="javascript:void(0);">
				<div class='row timer-row'>
					<div class="flex-across">
						<div id="border" class="bid-timer">
							<div id="countdown" class="big hspace"></div>
							<% if(user && !owned) {%>
							<div class="big"><strong>$</strong></div>
							<input type='number' class='col form-control' id='new-bid' name='newBid' min=0 />
							<% } %>
						</div>
						<% if(user && !owned){ %>
						<button id='submit-bid' type='submit'><!--<img id="pic" class="picture-button grow" src="/images/bid.png"></img>--><i class="fa fa-gavel fa-3x" ></i></button>
						<!-- <button id='submitBid' type='submit'><i class="fa fa-gavel" ></i></button> -->
						<% } %>
					</div>
				</div>
			</form>
		<!-- <div class="row">
			<button id='test' class='btn'>Refresh</button>
		</div> -->
		<% if(owned) { %>
			<div class="row">
				<a href="/listings/<%= listing._id %>/edit"><button type="button" class="btn btn-warning hspace" name="action" value="edit">Edit</button></a>
				<form action="/listings/<%= listing._id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button></form>
			</div>
		<% } %>


<!-- 		<div class="row timer-row">
			<div class="flex-across">
				<div id="border" class="bid-timer">
					<div id="countdown" class="big hspace"></div>
					<div id="money" class="big">$</div>
					<input id="bid" class="form-control big bid-input"></input>
				</div>
				<img id="pic" class="picture-button grow" src="/images/bid.png"></img>
			</div>
		</div>
 -->
	</div>
</div>

<%- include("partials/footer") %>
<script>
	let listID = <%- JSON.stringify(listing._id) %>;
	console.log(listID);
</script>
<script src="/js/show.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/gallery.js"></script>

</body>
</html>
